


<div class="container">

<div class="banner">
</div>

<form action="/answer" method='get'>
<input type="text" name="message" placeholder="what's your message">
<input type="submit" value="Ask!">
</form>

</div>